@model OnlineCafe.ViewModels.AddressViewModel

@{
    ViewData["Title"] = "Потверждение удаления адреса";
}
<form asp-action="DeleteAddress" asp-controller="AccountProfile" method="POST" asp-route-id="@Model.Id">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="width: 521px;margin-left: 65px;">Уверены ли что хотите удалить адрес ?</h4>
            <div><h5 style="margin-left: 201px;">@Model.Name</h5></div>
            <div style="margin-left: 169px;margin-top: 24px;">
                <div class="text-success" asp-validation-summary="All"></div>
                <button type="submit" class="btn btn-primary style="width: 70px">Да</button>
                <a class="btn btn-danger" asp-action="Index" asp-controller="AccountProfile" style="width: 70px">Нет</a>
            </div>
        </div>
    </div>
</form>
